USE [GIBDD_DB]
GO
/****** Object:  Table [dbo].[AccidentParticipants]    Script Date: 27/11/2025 19:05:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccidentParticipants](
	[PartID] [bigint] NOT NULL,
	[AccidentID_FK] [bigint] NOT NULL,
	[GUID_FK] [bigint] NULL,
	[Role] [nchar](100) NULL,
 CONSTRAINT [PK_AccidentParticipants] PRIMARY KEY CLUSTERED 
(
	[PartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accidents]    Script Date: 27/11/2025 19:05:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accidents](
	[AccidentID] [bigint] NOT NULL,
	[AccidentAddress] [nchar](100) NOT NULL,
	[VehiclesList] [nchar](228) NOT NULL,
	[ObjectsList] [nchar](228) NOT NULL,
	[Comments] [nchar](500) NULL,
	[AccidentDate] [datetime] NOT NULL,
	[AccidentClassification] [nchar](228) NOT NULL,
	[AccidentTime] [datetime] NOT NULL,
	[VictimsCount] [int] NOT NULL,
	[CreatedAt] [nchar](228) NOT NULL,
 CONSTRAINT [PK_Accidents] PRIMARY KEY CLUSTERED 
(
	[AccidentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[adm]    Script Date: 27/11/2025 19:05:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adm](
	[Login] [nvarchar](10) NOT NULL,
	[Password] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_adm] PRIMARY KEY CLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Car_colors]    Script Date: 27/11/2025 19:05:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car_colors](
	[ColorNum_FK] [nvarchar](50) NOT NULL,
	[CarVIM_FK] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Car_colors] PRIMARY KEY CLUSTERED 
(
	[ColorNum_FK] ASC,
	[CarVIM_FK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Car_Engine]    Script Date: 27/11/2025 19:05:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car_Engine](
	[EngineID_FK] [nvarchar](50) NOT NULL,
	[CarVIM_FK] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Car_Engine] PRIMARY KEY CLUSTERED 
(
	[EngineID_FK] ASC,
	[CarVIM_FK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Car_Manufacturer]    Script Date: 27/11/2025 19:05:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car_Manufacturer](
	[ManufacturerID_FK] [bigint] NOT NULL,
	[CarVIM_FK] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Car_Manufacturer] PRIMARY KEY CLUSTERED 
(
	[ManufacturerID_FK] ASC,
	[CarVIM_FK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Car_Region]    Script Date: 27/11/2025 19:05:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car_Region](
	[RegionID_FK] [bigint] NOT NULL,
	[CarVIM_FK] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Car_Region] PRIMARY KEY CLUSTERED 
(
	[RegionID_FK] ASC,
	[CarVIM_FK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Car_TOD]    Script Date: 27/11/2025 19:05:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car_TOD](
	[TODID_FK] [bigint] NOT NULL,
	[CarVIM_FK] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Car_TOD] PRIMARY KEY CLUSTERED 
(
	[TODID_FK] ASC,
	[CarVIM_FK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 27/11/2025 19:05:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[CarVIM] [nvarchar](50) NOT NULL,
	[CarModel] [nvarchar](45) NULL,
	[CarYear] [nvarchar](4) NULL,
	[CarWeight] [nvarchar](4) NULL,
 CONSTRAINT [PK_Cars] PRIMARY KEY CLUSTERED 
(
	[CarVIM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Color]    Script Date: 27/11/2025 19:05:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Color](
	[ColorNum] [nvarchar](50) NOT NULL,
	[ColorCode] [nvarchar](7) NULL,
	[ColorName1] [nvarchar](50) NULL,
	[ColorName] [nvarchar](50) NULL,
	[IsMettalic] [int] NULL,
 CONSTRAINT [PK_Color] PRIMARY KEY CLUSTERED 
(
	[ColorNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drivers]    Script Date: 27/11/2025 19:05:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drivers](
	[GUID] [bigint] NOT NULL,
	[Name] [nvarchar](15) NOT NULL,
	[Surname] [nvarchar](15) NOT NULL,
	[MiddleName] [nvarchar](15) NOT NULL,
	[PassportSeries] [nvarchar](10) NOT NULL,
	[PassportNumber] [nvarchar](10) NOT NULL,
	[Postcode] [nvarchar](10) NOT NULL,
	[Address] [nvarchar](30) NOT NULL,
	[ActualAdress] [nvarchar](30) NOT NULL,
	[Company] [nvarchar](30) NULL,
	[JobName] [nvarchar](30) NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](30) NOT NULL,
	[Photo] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NULL,
	[LicenceDate] [nvarchar](50) NOT NULL,
	[ExpireDate] [nvarchar](50) NOT NULL,
	[Categories] [nvarchar](10) NOT NULL,
	[LicenceSeries] [nvarchar](50) NOT NULL,
	[LicenceNumber] [nvarchar](50) NOT NULL,
	[LicenceStatus] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Drivers] PRIMARY KEY CLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drivers_Cars]    Script Date: 27/11/2025 19:05:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drivers_Cars](
	[GUID_FK] [bigint] NOT NULL,
	[CarVIM_FK] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Drivers_Cars] PRIMARY KEY CLUSTERED 
(
	[GUID_FK] ASC,
	[CarVIM_FK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EngineTypes]    Script Date: 27/11/2025 19:05:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EngineTypes](
	[EngineID] [nvarchar](10) NOT NULL,
	[EngineName] [nvarchar](10) NULL,
 CONSTRAINT [PK_EngineTypes] PRIMARY KEY CLUSTERED 
(
	[EngineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacturer]    Script Date: 27/11/2025 19:05:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturer](
	[ManufacturerID] [bigint] NOT NULL,
	[ManufacturerName] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Manufacturer] PRIMARY KEY CLUSTERED 
(
	[ManufacturerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OtherObjects]    Script Date: 27/11/2025 19:05:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OtherObjects](
	[ObjID] [bigint] NOT NULL,
	[AccidentID_FK] [bigint] NULL,
	[ObjectType] [nchar](100) NULL,
	[Comments] [nchar](228) NULL,
 CONSTRAINT [PK_OtherObjects] PRIMARY KEY CLUSTERED 
(
	[ObjID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Region]    Script Date: 27/11/2025 19:05:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Region](
	[RegionID] [bigint] NOT NULL,
	[RegionName] [nvarchar](40) NULL,
	[RegionCode] [nvarchar](30) NULL,
 CONSTRAINT [PK_Region] PRIMARY KEY CLUSTERED 
(
	[RegionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeOfDrive]    Script Date: 27/11/2025 19:05:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeOfDrive](
	[TODID] [bigint] NOT NULL,
	[TODName] [nchar](35) NULL,
 CONSTRAINT [PK_TypeOfDrive] PRIMARY KEY CLUSTERED 
(
	[TODID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AccidentParticipants]  WITH CHECK ADD  CONSTRAINT [FK_AccidentParticipants_Accidents] FOREIGN KEY([AccidentID_FK])
REFERENCES [dbo].[Accidents] ([AccidentID])
GO
ALTER TABLE [dbo].[AccidentParticipants] CHECK CONSTRAINT [FK_AccidentParticipants_Accidents]
GO
ALTER TABLE [dbo].[AccidentParticipants]  WITH CHECK ADD  CONSTRAINT [FK_AccidentParticipants_Drivers] FOREIGN KEY([GUID_FK])
REFERENCES [dbo].[Drivers] ([GUID])
GO
ALTER TABLE [dbo].[AccidentParticipants] CHECK CONSTRAINT [FK_AccidentParticipants_Drivers]
GO
ALTER TABLE [dbo].[Car_colors]  WITH CHECK ADD  CONSTRAINT [FK_Car_colors_Cars1] FOREIGN KEY([CarVIM_FK])
REFERENCES [dbo].[Cars] ([CarVIM])
GO
ALTER TABLE [dbo].[Car_colors] CHECK CONSTRAINT [FK_Car_colors_Cars1]
GO
ALTER TABLE [dbo].[Car_colors]  WITH CHECK ADD  CONSTRAINT [FK_Car_colors_Color1] FOREIGN KEY([ColorNum_FK])
REFERENCES [dbo].[Color] ([ColorNum])
GO
ALTER TABLE [dbo].[Car_colors] CHECK CONSTRAINT [FK_Car_colors_Color1]
GO
ALTER TABLE [dbo].[Car_Engine]  WITH CHECK ADD  CONSTRAINT [FK_Car_Engine_Cars] FOREIGN KEY([EngineID_FK])
REFERENCES [dbo].[Cars] ([CarVIM])
GO
ALTER TABLE [dbo].[Car_Engine] CHECK CONSTRAINT [FK_Car_Engine_Cars]
GO
ALTER TABLE [dbo].[Car_Engine]  WITH CHECK ADD  CONSTRAINT [FK_Car_Engine_EngineTypes] FOREIGN KEY([CarVIM_FK])
REFERENCES [dbo].[EngineTypes] ([EngineID])
GO
ALTER TABLE [dbo].[Car_Engine] CHECK CONSTRAINT [FK_Car_Engine_EngineTypes]
GO
ALTER TABLE [dbo].[Car_Manufacturer]  WITH CHECK ADD  CONSTRAINT [FK_Car_Manufacturer_Cars] FOREIGN KEY([CarVIM_FK])
REFERENCES [dbo].[Cars] ([CarVIM])
GO
ALTER TABLE [dbo].[Car_Manufacturer] CHECK CONSTRAINT [FK_Car_Manufacturer_Cars]
GO
ALTER TABLE [dbo].[Car_Manufacturer]  WITH CHECK ADD  CONSTRAINT [FK_Car_Manufacturer_Manufacturer] FOREIGN KEY([ManufacturerID_FK])
REFERENCES [dbo].[Manufacturer] ([ManufacturerID])
GO
ALTER TABLE [dbo].[Car_Manufacturer] CHECK CONSTRAINT [FK_Car_Manufacturer_Manufacturer]
GO
ALTER TABLE [dbo].[Car_Region]  WITH CHECK ADD  CONSTRAINT [FK_Car_Region_Cars] FOREIGN KEY([CarVIM_FK])
REFERENCES [dbo].[Cars] ([CarVIM])
GO
ALTER TABLE [dbo].[Car_Region] CHECK CONSTRAINT [FK_Car_Region_Cars]
GO
ALTER TABLE [dbo].[Car_Region]  WITH CHECK ADD  CONSTRAINT [FK_Car_Region_Region] FOREIGN KEY([RegionID_FK])
REFERENCES [dbo].[Region] ([RegionID])
GO
ALTER TABLE [dbo].[Car_Region] CHECK CONSTRAINT [FK_Car_Region_Region]
GO
ALTER TABLE [dbo].[Car_TOD]  WITH CHECK ADD  CONSTRAINT [FK_Car_TOD_Cars] FOREIGN KEY([CarVIM_FK])
REFERENCES [dbo].[Cars] ([CarVIM])
GO
ALTER TABLE [dbo].[Car_TOD] CHECK CONSTRAINT [FK_Car_TOD_Cars]
GO
ALTER TABLE [dbo].[Car_TOD]  WITH CHECK ADD  CONSTRAINT [FK_Car_TOD_TypeOfDrive] FOREIGN KEY([TODID_FK])
REFERENCES [dbo].[TypeOfDrive] ([TODID])
GO
ALTER TABLE [dbo].[Car_TOD] CHECK CONSTRAINT [FK_Car_TOD_TypeOfDrive]
GO
ALTER TABLE [dbo].[Drivers_Cars]  WITH CHECK ADD  CONSTRAINT [FK_Drivers_Cars_Cars] FOREIGN KEY([CarVIM_FK])
REFERENCES [dbo].[Cars] ([CarVIM])
GO
ALTER TABLE [dbo].[Drivers_Cars] CHECK CONSTRAINT [FK_Drivers_Cars_Cars]
GO
ALTER TABLE [dbo].[Drivers_Cars]  WITH CHECK ADD  CONSTRAINT [FK_Drivers_Cars_Drivers] FOREIGN KEY([GUID_FK])
REFERENCES [dbo].[Drivers] ([GUID])
GO
ALTER TABLE [dbo].[Drivers_Cars] CHECK CONSTRAINT [FK_Drivers_Cars_Drivers]
GO
ALTER TABLE [dbo].[OtherObjects]  WITH CHECK ADD  CONSTRAINT [FK_OtherObjects_Accidents] FOREIGN KEY([AccidentID_FK])
REFERENCES [dbo].[Accidents] ([AccidentID])
GO
ALTER TABLE [dbo].[OtherObjects] CHECK CONSTRAINT [FK_OtherObjects_Accidents]
GO
